<nav class="navbar">
    <div class="logo">
        <img src="/img/logo.jpeg" alt="" class="pic">
        <div class="stayEz">StayEz</div>
    </div>
    <div class="menu-toggle" id="menuToggle">☰</div>
    <ul class="nav-links" id="navLinks">
        <li><a href="/admin/main">Home</a></li>
        <li><a href="/logout" class="hidden">Log Out</a></li>
        <a href="/logout" class="logout-icon"><img src="/img/log-out.png" alt="" class="pic3"></a>
    </ul>
</nav>