<footer id="footer">
    <div class="footer">
        <div class="footer-content">
            <p>Line: @place1234</p>
            <p>Tel: 000000000</p>
            <p>Email: place@1234.com</p>
        </div>
</footer>
<script src="/script/header.js"></script>