<nav class="navbar">
    <div class="logo">
        <img src="../../img/logo.jpeg" alt="" class="pic">
        <div class="stayEz">StayEz</div>
    </div>
    <div class="menu-toggle" id="menuToggle">☰</div>
    <ul class="nav-links" id="navLinks">
        <li><a href="/user/main">Home</a></li>
        <li><a href="/user/history">History</a></li>
        <li><a href="/user/payment">Payment</a></li>
        <li><a href="#footer">Contact</a></li>
        <li><a href="#" class="hidden">Wish list</a></li>
        <li><a href="#" class="hidden" onclick="openPopup()">Profile</a></li>
        <li><a href="main-regis.html"class="hidden">Log out</a></li>
        <li><a href="/user/fav"><img src="../../img/heart.png" alt="" class="pic2"></a></li>
        <li><a href="#" onclick="openPopup()"><img src="../../img/user.png" alt="" class="pic3"></a></li>
    </ul>
</nav>
<div class="overlay" id="overlay" onclick="closePopup()"></div>
<section>
    <div class="popup" id="popup">
        <div class="profile" >
            <div class="close-btn">
                <button onclick="closePopup()">
                    <img src="../../img/close.png" alt="">
                </button>
            </div>
            <p>Profile</p>
            <div class="allpopupdata">
                <div class="popupdata">
                    <label for="name">Name:</label>
                    <input type="text" id="firstname" value="<%= user.first_name %>" readonly>
                </div>
                <div class="popupdata">
                    <label for="lastname">Lastname:</label>
                    <input type="text" id="lastname" value="<%= user.last_name %>" readonly>
                </div>
                <div class="popupdata">
                    <label for="tel">Tel:</label>
                    <input type="text" id="tel" value="<%= user.tel %>" readonly>
                </div>
                <div class="popupdata">
                    <label for="email">Email:</label>
                    <input type="text" id="email" value="<%= user.email %>" readonly>
                </div>
                <div class="log-out">
                    <br>
                    <a href="/logout"><button><img src="../../img/log-out.png" alt=""></button></a>
                </div>
            </div>
            
        </div>
    </div>
</section>