* {
    font-weight: 350;
}

body {
    background-color: #E5EFFF;
}

.allcontact {
    padding: 30px;
}

/* container */
.container {
    margin-top: 120px;
    background-color: #ffff;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 5% 7%;
    font-size: 2.3vh;
}

.contact-head {
    text-align: center;
}

.date {
    text-align: right;
    margin-top: 15px;
}

.company {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.com {
    margin-left: 30px;
}

.client {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.cadd {
    margin-left: 30px;
}

.name {
    display: flex;
    flex-wrap: wrap;
}

.form-group {
    display: flex;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.form-group select {
    margin-right: 30px;
    border: none;
    background-color: #E5EFFF;
    border-radius: 10px;
    font-size: 2vh;
}

.form-group input,
textarea,
.select {
    font-size: 2vh;
    padding-left: 10px;
    border: none;
    background-color: #E5EFFF;
    border-radius: 10px;
}

.form-group p {
    margin-right: 20px;
}

.bank {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.allrule {
    margin-top: 15px;
}


.signature-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    flex-wrap: wrap;
}

.signature-box {
    text-align: center;
    margin-top: 20px;
}

.signame {
    border: none;
    background-color: #E5EFFF;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 2vh;
}

.signature-line {
    border-bottom: 1.5px solid #000000;
    margin-bottom: 10px;
}

.signature-title {
    margin-top: 10px;
}

.payment-section {
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}


.section {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.3vh;
    margin-left: 30px;
    margin-bottom: 20px;
}

.section p {
    color: #7B9CC8;
    margin-right: 15px;
}

.peopleselect {
    border: none;
    background-color: #C9D7EE;
    border-radius: 10px;
    padding-left: 10px;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot button {
    border: none;
    background-color: #7B9CC8;
    padding: 15px;
    font-size: 2.4vh;
    color: #ffffff;
    border-radius: 16px;
    margin: 20px;
}

.file-select {
    position: relative;
    display: inline-block;
}

.file-select input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.file-label {
    display: inline-block;
    background-color: #fff;
    color: #7B9CC8;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.6vh;
    cursor: pointer;
}

/* popup */
.popup {
    max-width: 450px;
    background-color: #ffffff;
    border-radius: 18px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    visibility: hidden;
    transition: transform 0.4s, visibility 0.4s;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.openPopup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.close-btn button {
    border: none;
    background: none;
    cursor: pointer;
}

.close-btn button img {
    width: 35px;
}

.close-btn {
    display: flex;
    justify-content: end;
    padding: 5px;
    width: 100%;
    background-color: #93B1D7;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    width: calc(100% + 40px);
    margin: -20px -20px 0;
    box-sizing: border-box;
}

.allpopupdata {
    display: flex;
    flex-wrap: wrap;
    background-color: #E5EFFF;
    max-width: 370px;
    margin: auto;
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 30px;
}

.popupdata {
    display: flex;
    max-width: 370px;
    flex-wrap: wrap;
    padding: 10px;
    color: #93B1D7;
}

.popupdata label {
    margin-right: 15px;
    font-size: 1.3rem;
}

.popupdata input {
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    padding: 5px;
    color: #616162;
}

.profile p {
    text-align: center;
    color: #93B1D7;
    font-size: 1.8rem;
    padding: 10px;
}

.log-out {
    display: flex;
    justify-content: end;
}

.log-out button {
    border: none;
    background: none;
    padding: 5px;
    cursor: pointer;
}

.log-out img {
    width: 40px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
    z-index: 999;
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .popup {
        top: 50%;
        left: 50%;
    }
}