* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", serif;
    font-weight: 400;
    font-style: normal;

}

body {
    background: #ffffff;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}

.navbar {
    background: #C9D7EE;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    max-width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);

}

.navbar .logo {
    font-size: 22px;
    font-weight: bold;
    ;
}

.stayEz {
    margin-left: 10px;
}

.menu-toggle,
.hidden {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    display: flex;
    margin: 0 15px;
    position: relative;
}


.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 2.3vh;

}

.nav-links .his {
    color: #7B9CC8;
}

.logo {
    display: flex;
    align-items: center;
}


/* pic */
.pic {
    width: 50px;
    margin-left: 10px;
    border-radius: 50%;
}

.pic2 {
    width: 30px;
    margin-left: -20px;
}

.pic3 {
    width: 40px;
    margin-left: -30px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
}

.text {
    margin-top: 125px;
    display: flex;
    font-size: 2.8vh;
    color: #ffffff;
    background-color: #7B9CC8;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;

}



.card-link {
    width: 250px;
    user-select: none;
    display: block;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 18px;
    text-decoration: none;
}





.card-img {
    width: 100%;
    margin-bottom: 10px;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 16px;
}



.badge {
    color: rgb(141, 141, 141);
    padding: 8px 16px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    background-color: #d2d2d2;
    width: fit-content;
    border-radius: 10px;
    /* text-decoration: none */
}


.card-title {
    font-size: 1rem;
    color: #616162;
}

.text2 {
    display: flex;
    /* font-size: 2.8vh; */
    /* font-family: "Itim", serif; */
    color: #7B9CC8;
    /* background-color: #2e518a; */
    /* width: 92%; */
    margin-bottom: 20px;


}

.pic4 {
    width: 25px;
    padding-right: 5px;
    margin-top: 10px;
}


.all {
    display: flex;
    background-color: #C9D7EE;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    justify-content: center;

}

.card {
    max-width: 300px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); */
}

.alldata {
    padding: 30px;
    border-radius: 10px;
    min-width: 360px;
}

.data,
.data2 {
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    border-bottom: 1px solid #ffffff;
}

.data:last-child,
.data2:last-child {
    border-bottom: none;
}


.data2 {
    justify-content: space-between;
    align-items: center;
}

.data3 {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.book,
.cancel,
.review {
    font-size: 0.9rem;
    color: #ffffff;
    margin: 3px;
    background-color: #7B9CC8;
    padding: 8px 15px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.book:hover,
.cancel:hover {
    background-color: #E5EFFF;
    color: #7B9CC8;
}

.card-title2 {
    font-size: 1.1rem;
    color: #ffffff;
}

.history {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    color: #7B9CC8;
    border-radius: 16px;
    margin-bottom: 20px;
    gap: 30px;
    padding: 40px;
}

.data5 {
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
}


/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C9D7EE;
    margin-top: 50px;
    font-size: 2.3vh;
    color: #7B9CC8;
    padding: 10px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;


    p {
        padding: 10px;
        margin-left: 15px;
        color: #ffffff;
    }
}

/* popup */
.popup {
    max-width: 450px;
    background-color: #ffffff;
    border-radius: 18px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    visibility: hidden;
    transition: transform 0.4s, visibility 0.4s;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.openPopup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.close-btn button {
    border: none;
    background: none;
    cursor: pointer;
}

.close-btn button img {
    width: 35px;

}

.close-btn {
    display: flex;
    justify-content: end;
    padding: 5px;
    width: 100%;
    background-color: #93B1D7;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    width: calc(100% + 40px);
    margin: -20px -20px 0;
    box-sizing: border-box;


}

.allpopupdata {
    display: flex;
    flex-wrap: wrap;
    background-color: #E5EFFF;
    max-width: 370px;
    margin: auto;
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 30px;
}

.popupdata {
    display: flex;
    max-width: 370px;
    flex-wrap: wrap;
    padding: 10px;
    color: #93B1D7;
}


.popupdata label {
    margin-right: 15px;
    font-size: 2.4vh;
}

.popupdata input {
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    padding: 5px;
    color: #616162;
    /* width: 100%; */

}

.profile p {
    text-align: center;
    color: #93B1D7;
    font-size: 1.8rem;
    padding: 10px;
}

.log-out {
    display: flex;
    justify-content: end;
}

.log-out button {
    border: none;
    background: none;
    padding: 5px;
    cursor: pointer;
}

.log-out img {
    width: 40px;
}


/* popup cancel */
.overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
    z-index: 999;
}

.overlay2.active {
    visibility: visible;
    opacity: 1;
}

.pop-upcancel {
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 18px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    visibility: hidden;
    transition: transform 0.4s, visibility 0.4s;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.pop-upcancel.active {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.ok {
    font-size: 2.4vh;
    padding: 30px;
    text-align: center;
    color: #7B9CC8;
}

.ok button {
    border: none;
    background-color: #7B9CC8;
    color: white;
    padding: 7px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

/* popup review */

.popup-review {
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 18px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.popup-review.active {
    visibility: visible;
    opacity: 1;
}

.close-btn button {
    border: none;
    background: none;
    cursor: pointer;
}

.close-btn button img {
    width: 35px;

}

.close-btn {
    display: flex;
    justify-content: end;
    /* padding: 5px; */
    width: 100%;
    /* height: 50px; */
    background-color: #93B1D7;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    width: calc(100% + 40px);
    margin: -20px -20px 0;
    box-sizing: border-box;


}

.allreviewdata {
    margin-top: 10px;
}

.reviewdata {
    margin-bottom: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
    z-index: 999;
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}

.popup-review p {
    text-align: center;
    color: #93B1D7;
    font-size: 1.8rem;
    padding: 10px;
}


.reviewdata label {
    margin-right: 15px;
    font-size: 1.3rem;
    color: #7B9CC8;

}

.reviewdata select {
    border: none;
    background-color: #7B9CC8;
    color: #ffffff;
    padding: 5px;
    border-radius: 8px;
}

.reviewdata textarea {
    border-radius: 8px;
}

.allreviewdata {
    /* display: flex;
    flex-direction: column;  */
    margin-top: 10px;
}

.submit {
    display: flex;
    border: none;
    background-color: #7B9CC8;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    align-items: center;
    margin: auto;
    padding: 10px;

}

@media screen and (max-width: 1127px) {

    .menu-toggle,
    .hidden {
        display: block;
    }

    .pic2,
    .pic3 {
        display: none;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        max-width: 150px;
        /* กำหนดความกว้างของเมนู */
        position: absolute;
        top: 40px;
        right: 0;
        /* ทำให้เมนูอยู่ขวาสุด */
        left: auto;
        /* ป้องกันไม่ให้เมนูติดซ้าย */
        background: #94abca;
        text-align: center;
        border-radius: 20px;
    }

    .nav-links.active {
        display: flex;
        max-width: 150px;
        border-radius: 20px;
        margin-top: 20px;

    }

    .history {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        color: #7B9CC8;
        border-radius: 16px;
        margin: 30px;
    }
}


@media screen and (max-width: 700px) {

    .menu-toggle,
    .hidden {
        display: block;
    }

    .pic2,
    .pic3 {
        display: none;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        max-width: 150px;
        position: absolute;
        top: 40px;
        right: 0;
        left: auto;
        background: #94abca;
        text-align: center;
        border-radius: 20px;
    }

    .nav-links.active {
        display: flex;
        max-width: 150px;
        border-radius: 20px;
        margin-top: 20px;

    }

    .all {
        flex-direction: column;
        align-items: center;
    }

    .card,
    .alldata {
        width: 100%;
        max-width: none;
    }

    .popup {
        top: 50%;
        left: 50%;
    }
}