* {
    margin: 0;
    padding: 0;
    font-family: "Kanit", serif;
    font-weight: 400;
    font-style: normal;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body {
    background: #ffffff;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    margin: 80px auto 30px auto;
}

.icon {
    margin: 30px;
    color: rgba(123, 156, 200, 1);
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.bin-icon {
    float: right;
    padding: 5px;
    border-radius: 30px;
    color: white;
    background-color: rgba(123, 156, 200, 1);
    width: 30px;
    height: 30px;
}

.form-container {
    justify-items: center;
    color: rgba(136, 135, 135, 1);
    justify-self: center;
    width: 90%;
}

.form {
    background-color: rgba(229, 239, 255, 1);
    border-radius: 16px;
    padding: 30px;
    width: 90%;
    font-size: 2.5vh;
}

.form input {
    border: none;
    background-color: rgba(123, 156, 200, 1);
    width: 200px;
    /* height: 25px; */
    border-radius: 8px;
    color: white;
    padding: 3px 15px;
    font-size: 2.2vh;
}

.form select {
    border: none;
    background-color: rgba(123, 156, 200, 1);
    width: 200px;
    /* height: 25px; */
    border-radius: 8px;
    color: white;
    text-align: center;
    font-size: 2.2vh;
    padding: 3px;
}

.first-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item textarea {
    resize: none;
    border: none;
    background-color: rgba(123, 156, 200, 1);
    border-radius: 10px;
    color: white;
    font-size: 2.3vh;
    padding: 10px 15px;
}

.file-input {
    width: 95px !important;
    overflow: hidden;
    cursor: pointer;
    color: white;
    padding-left: 5px;
    line-height: 25px;
}

.file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.file-input::before {
    content: 'เลือกไฟล์';
}

.form-textarea {
    grid-column-start: span 3;
    margin-top: 30px;
}

.form-textarea textarea {
    height: 80px;
}

.checklist {
    grid-column-start: span 3;
    margin-top: 30px;
}

.checklist-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.checklist-item {
    display: flex;
    white-space: nowrap;
    gap: 10px;
    align-items: center;
}

.checklist-item label {
    align-self: center;
}

.checklist img {
    width: 25px;
    height: 25px;
}

.checklist-item input {
    width: 20px !important;
}

.map {
    grid-column-start: span 3;
    margin-top: 30px;
}

.form-container button {
    margin-top: 30px;
    border: none;
    width: 80px;
    height: 35px;
    color: white;
    background-color: rgba(123, 156, 200, 1);
    border-radius: 12px;
    font-size: 2.5vh;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup {
    position: fixed;
    color: rgba(123, 156, 200, 1);
    background-color: white;
    width: 50vh;
    height: 20vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow: hidden;
}

.popup-header {
    background-color: rgba(201, 215, 238, 1);
    height: 30px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    padding-right: 5px;
}

.popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.popup-content button {
    border: none;
    background-color: rgba(123, 156, 200, 1);
    color: white;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    margin-top: 10px;
}

.icon-popup {
    color: white;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

@media screen and (max-width: 768px) {
    .first-section {
        grid-template-columns: repeat(2, 1fr);
    }

    .checklist-menu {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 420px) {
    .first-section {
        grid-template-columns: repeat(1, 1fr);
    }

    .checklist-menu {
        grid-template-columns: repeat(1, 1fr);
    }
}