html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.payment {
    flex: 1;
    color: #7B9CC8;
    margin-top: 120px;
}

.payment h1 {
    padding-left: 40px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 50px;
    padding: 20px;
    margin: 2%;
}

/* Card */
.card {
    background-color: #C9D7EE;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 2.1vh;
}

.card-con {
    max-width: 48%;
    padding: 10px;
}

.card-con strong {
    color: white;
}

.card-con p {
    margin: 15px;
}

.date {
    background-color: white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 2vh;
}

/* ปุ่ม */
.btn {
    background-color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.8vh;
    color: #7B9CC8;
    transition: .5s;
}

.btn:hover {
    border: 1px solid rgb(255, 255, 255);
    color: white;
    background-color: #b5c9e4;
}

/* จ่ายแล้ว */
.paid {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 8px;
    text-align: center;
    max-width: 100%;
    white-space: nowrap;
    color: #7B9CC8;
}

/* Popup ใบเสร็จ */
.popup2 {
    width: 330px;
    background-color: #ffffff;
    border-radius: 18px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    visibility: hidden;
    transition: transform 0.4s, visibility 0.4s;
    padding: 0 10px 0;
    box-sizing: border-box;
    z-index: 1000;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.openPopup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    display: block;
}
.close-btn2 button {
    border: none;
    background: none;
    cursor: pointer;
}

.close-btn2 button img {
    width: 25px;
}

.close-btn2 {
    display: flex;
    justify-content: end;
    height: 30px;
    background-color: #93B1D7;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    margin: -10px -10px 0;
    box-sizing: border-box;
}

.section {
    display: flex;
    flex-wrap: wrap;
    font-size: 2vh;
    align-items: center;
}

.section p {
    color: #7B9CC8;
}

.peopleselect {
    border: none;
    background-color: #C9D7EE;
    border-radius: 10px;
}

.file-select {
    position: relative;
    display: inline-block;
    align-items: center;
    margin-left: 10px;

}

.file-select input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.file-label {
    display: inline-block;
    background-color: #fff;
    color: #7B9CC8;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.6vh;
    padding: 5px;
}

.title {
    font-size: 2.5vh;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    color: #7B9CC8;
}

.tablebox {
    display: flex;
    justify-content: center;
    padding: 20px;
}

table {
    width: 100%;
    padding: 5px 15px 15px 15px;
    font-size: 2.3vh;
    color: #7B9CC8;
    border-collapse: collapse;
}

table input {
    border: none;
    outline: none;
    overflow: hidden;
    width: 100px;
    background-color: #E5EFFF;
    border-radius: 12px;
    height: 30px;
    text-align: center;
}

thead th {
    border-bottom: 1px solid #9f9c9c;
}

.tb-left {
    text-align: left;
    padding: 10px;
    font-size: 2.2vh;
}

.tb-right {
    text-align: right;
    padding: 10px;
    font-size: 2vh;
}

.tb-right input {
    color: #939394;
}

.tb-left1 {
    text-align: left;
    font-size: 2.3vh;
}

.tb-right1 {
    text-align: right;
    padding-right: 20px;
    font-size: 2.3vh;
}

.name {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    font-size: 2vh;
    color: #878787;
}

.name p {
    margin-right: 10px;
}

.line {
    border-top: 1.2px solid #9f9c9c;
    margin-top: -30px;
}

.bank {
    padding: 20px;
    font-size: 2vh;
    color: #878787;
}

@media screen and (max-width: 600px) {
    .card-container {
        display: flex;
        flex-direction: column;
        padding: 25px;
        margin-right: 20px;
        margin-left: -10px;
    }

    .card {
        width: 100%;
        max-width: 400px;
    }
}